.s3direct {
  float: left;
}

.s3direct .progress {
  background: #007bff;
  width: 333px;
}

.s3direct .file-link {
  width: 333px;
}

.s3direct .file-remove {
  display: none;
}

.s3direct .progress,
.s3direct .file-link,
.s3direct .file-input {
  display: none;
  float: left;
  clear: left;
}

.s3direct.progress-active .progress,
.s3direct.form-active .file-input {
  display: block;
}

.s3direct.link-active .file-link,
.s3direct.link-active .file-remove {
  display: inline-block;
}